<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="building">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.652 1.652 3.15"
        rpy="0 0 0" />
      <mass
        value="68773.4208" />
      <inertia
        ixx="290031.361895654"
        ixy="-6.1198350296839E-12"
        ixz="1.90728618084298E-11"
        iyy="290031.361895654"
        iyz="4.51849540420805E-12"
        izz="125126.545199309" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://building/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://building/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>


<gazebo>
    <static>true</static>
</gazebo>

<gazebo reference = 'base_link'>
<material> Grey</material>
</gazebo>

</robot>
